/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* *:before *:after{
    box-sizing: border-box
}
 html{
  font-family: sans-serif;
  font-size:12px;
  display:block;
  width:100%;
  height:100%;
  padding:0;
  position: relative;
margin:0;
}
/* HEADER */
.logo{
  margin-top: 95px;
  margin-left:255px;
}
.top-bar{
    overflow: hidden;
    background-color: #000;
    position: fixed; 
    top: 0; 
    width: 100%;
}
.top-bar p{
  color: white;
  text-align: center;
}

/*FA-FA*/
#icons{
  float: right;
  width:200px;
  margin-top:-50px;
  margin-right:100px;

 
}
#icons li{
  color: #737373;
  display: inline;
  padding:3px;


}
#icons a{
  margin:5px;
  color:#737373;
  text-decoration: none;
}
/*NAV-BAR*/
#list-nav {
  list-style:none;
  margin-left:250px;
  padding:0;
  width:525px
  display:inline

}


#list-nav li {
  text-decoration: none;
  padding:5px 0;
  width:200px;
  background:white;
  color:#000;
  float:left;
  text-align: center;
 
}

#list-nav li a:hover {
  background:#a2b3a1;
  color:#000
}
.experience{
   border-left:1px solid black;
   border-right: 1px solid black;
}
header hr{
  margin-top:60px;
}
/*DROP-DOWN*/
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .collect {
    font-size: 16px;    
    border: none;
    outline: none;
    color: #d9d9d9;
    padding: 14px 16px;
    background-color: black;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #d9d9d9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color:white;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown table{
  color:#d9d9d9;
}
.dropdown a{
  padding:10px;
  margin-right:100px;
}
.table-header{
  font-size: 16px;
}
.dropdown td{
  font-size: 12px;
}
/*SLIDESHOW*/
@keyframes slider{
0% {
    left:0;
}
20%{
    left:0;
}
25%{
    left:-100%;
}
45%{
    left:-100%;
}
50%{
    left:-200%;
}
70%{
    left:-200%;
}
75%{
    left:-300%;
}
95%{
    left:-300%;
}
100%{
    left:-400%;
}
}
#slider{
    overflow:hidden;
    margin-top:80px;
}
#slider figure img{
    width: 25%;
  z-index: 0;
  float:left;
    
}
#slider figure {
    position: absolute;
    width: 400%; /*CHANGE EVERY IMG YOU ADD 2 IMG=200 3 img=300%*/
    height:500%;
    text-align: left;
    font-size: 0;
    animation: 20s slider infinite;
    margin:0;
}
.main-page{
  margin-right: 150px;
  margin-left: 150px;
}

/*BUTTON*/
.button{
  background-color:#4ddbff;
  width:345px;
  height:50px;
  font-size: 17px;
  vertical-align: center;
  padding: 5px;
  text-align:center;
  margin-left:900px;
  margin-top:50px;
position: relative;
}
.button a{
  text-decoration: none;
  color:white;
}

/*SUB CONTENT */

h2{
  text-align: center;
  color: #737373;
  margin-top: 700px;
  font-size: 25px;
}
.sub-content p{
  text-align: center;
  color:#737373;
  font-size: 18px;
}
.sub-content hr{
  margin-top: 80px;
}


/* CALIFORNIA ART */
.top-art {
    float: right;
    padding: 16px;
    margin-bottom: 30px;

}
.top-art img{
  width:300px;
  height:250px;  
}

.california h3{
  text-align: center;
  color: #737373;
  font-size: 18px;
  margin-top: 50px;
}

/*NAPA*/
.napa {
  margin-left:120px;
  margin-top:-300px;
}
.napa h2{
  margin-right: 150px;
  color: #737373;
  font-size: 18px;
}
.clear {
    clear: both;
    margin-right: 150px;
}

 .bottom-art {
    margin: 50px;
    margin-top: 50px;
    float: left;
    width: 180px;

}

.bottom-art:hover {
    
}

 .bottom-art img {
    width: 250px;
    height: 230px; 
}

 .desc {
  width:200px;
    padding: 15px;
    text-align: center;
    margin-left: 10px;
    color:#737373;

}
 .art-links{
    font-weight: bold;
}


/*SOCIAL MEMDIA*/
.social-media-content{
margin-top: 600px;
border-top: 1px solid #737373;
border-bottom: 1px solid gray;
}
.touch .follow .join{
  display: inline-table;
  margin:10px;
  padding:10px;
}
.touch{
  margin-right:800px;
  padding:10px;
}
.follow{
  margin-right:50px;
  margin-top: -110px
}
.join{
  margin-left:1000px;
  margin-top:-75px;
}
.social-media-icons li{
  display:inline;
  color:#737373;
  font-size: 16px;
  margin-right:5px;
}
.social-media-icons{
  margin-left:650px;
}
.top-content {
  text-align: center;
  color:#737373;
  font-size: 16px;
 margin-left:30px;
}
.bottom-content{
  text-align: center;
  color:#737373;
  font-size: 16px;
}
/*FOOTER*/
footer{
    clear:both;
}
.footer{
  padding:20px;
  text-align: center;
  margin-left:250px;
  margin-top:50px;
}
.footer a{
  margin:10px;
  padding:10px;
  text-decoration: none;
  color:#737373;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
